h1  {
  color: tomato;
  text-align: center;
  background-color: lightyellow;
  padding: 50px;
}

select {
  margin-top: 5px;
}

.select1 {
  float: left;
  display: inline-block;
  margin-left: 25%;
}
.select2 {
  float: right;
  display: inline-block;
}

.buttons {
  text-align: center;
}

.attack-btn {
  width: 99%;
  background-color: darkblue;
}

.btn-row  {
  margin-top: 100px;
  text-align: center;
}

.output1 {
  float: left;
  background-color: dodgerblue;
  color: white;
  margin-left: 20%;
  font-size: 2em;
  padding: 5px;
  border-radius: 5%;
}

.output2 {
  background-color: firebrick;
  color: white;
  float: right;
  margin-right: 20%;
  font-size: 2em;
  padding: 5px;
  border-radius: 5%;
}